@import url('project://database/Assets/_Project/UI/Styles/Stylesheets/Fonts.uss');

:root {
    /* Primary */
    --color-dark: rgba(26, 26, 26, 1);
    --color-light: rgba(247, 247, 247, 1);
    --color-lime: rgba(200, 255, 0, 1);
    --color-magenta: rgba(175, 89, 255, 1);
    
    /* Secondary */
    --color-red: rgba(255, 59, 59, 1);
    --color-blue: rgba(71, 163, 255, 1);

    /* Others */
    --color-olive: rgba(82, 105, 76, 1);
    --color-orange: rgba(222, 97, 78, 1);
    --color-creme: rgba(255, 196, 176, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-buttons: rgba(237, 237, 237, 1);
    --color-font: rgba(38, 38, 38, 1);
}

.unity-ui-document__root {
    background-color: rgb(145, 145, 145);
}

.unity-ui-document__root.show-splash-background {
    background-image: url('project://database/Assets/_Project/Art/TrainingBuddyBG.png');
}

.show-splash-background .background-overlay {
    position: absolute;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.show-splash-background .female-char-left {
    background-image: url('project://database/Assets/_Project/Art/Frontpage/female.png');
    height: 80%;
    width: 50%;
}

.show-splash-background .male-char-right {
    background-image: url('project://database/Assets/_Project/Art/Frontpage/male.png');
    height: 80%;
    width: 50%;
}

.button-large {
    height: 70px;
    width: 259px;
    border-radius: 40;
    border-width: 0;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: 25px;
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/Bungee/Bungee-Regular SDF.asset");
    -unity-font-style: normal;
    -unity-text-align: middle-center;
}

.unity-ui-document__root .button-large:hover {
    background-color: var(--color-light);
}

.unity-ui-document__root .button-large:active {
    background-color: var(--color-light);
}

.text-button {
    height: 70px;
    width: 259px;
    border-width: 0;
    background-color: transparent;
    color: var(--color-light);
    font-size: 14px;
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/Avenir-Next/Avenir Next LT Pro Regular SDF.asset");
    -unity-font-style: normal;
    -unity-text-align: middle-center;
}

.unity-ui-document__root .text-button:hover {
    background-color: transparent;
}

.unity-ui-document__root .text-button:active {
    background-color: transparent;
}

.button-large {
    width: 300px;
}

.button-small {
    width: 140px;
}

.button-back {
    width: 50px;
}

.hide-back-button .button-back {
    display: none;
}

/*Header*/
.layout-header {
    height: 100px;
    width: 100%;
    padding: 0 30px;
    flex-direction: row;
}

.layout-header .button-back {
    width: 80px;
    height: 80px;
    background-color: var(--color-buttons);
    border-width: 0;
    border-radius: 50%;
    background-image: url('project://database/Assets/_Project/Art/Icons/arrow-left.png');
    background-size: 48px;
    -unity-background-image-tint-color: var(--color-dark);
}

.layout-header .site-title {
    -unity-text-align: lower-center;
    flex-grow: 1;
}

.layout-header .header-level-container {
    width: 80px;
    height: 80px;
    background-color: var(--color-buttons);
    border-width: 0;
    border-radius: 50%;
}

.layout-header .header-level-label {
    font-size: 24px;
    flex-grow: 1;
    -unity-text-align: middle-center;
}

.safe-area-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.layout-content {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.layout-footer {
    height: 50px;
}