@import url('project://database/Assets/_Project/UI/Styles/Stylesheets/Fonts.uss');

:root {
    /* Primary */
    --color-dark: rgba(38, 38, 38, 1); /* 262626 */
    --color-mid: rgba(214, 214, 214, 1); /* D6D6D6 */
    --color-light: rgba(247, 247, 247, 1); /* F7F7F7 */
    --color-lime: rgba(200, 255, 0, 1); /* C8FF00 */
    --color-magenta: rgba(175, 89, 255, 1); /* AF59FF */
    
    /* Secondary */
    --color-red: rgba(255, 59, 59, 1); /* FF3B3B */
    --color-blue: rgba(71, 163, 255, 1); /* 47A3FF */

    /* Others */
    --color-olive: rgba(82, 105, 76, 1); /* 52694C */
    --color-orange: rgba(222, 97, 78, 1); /* DE614E */
    --color-creme: rgba(255, 196, 176, 1); /* FFC4B0 */
    --color-white: rgba(255, 255, 255, 1); /* FFFFFF */
    --color-buttons: rgba(237, 237, 237, 1); /* EDEDED */
    --color-font: rgba(38, 38, 38, 1); /* 262626 */
    --color-bottom-container: rgba(245, 245, 245, 1); /* F5F5F5 */
    --color-separator: rgba(157, 157, 157, 1); /* 9D9D9D */
    --color-input-field: rgba(209, 209, 209, 1); /* D1D1D1 */
    
    /* Font Sizes */
    --font-size-main-menu: 25px;
    --font-size-xl: 20px;
    --font-size-l: 18px;
    --font-size-m: 15px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-tiny: 8px;
}

.unity-ui-document__root {
    background-color: var(--color-light);
}

.unity-text-element {
    color: var(--color-dark);
}

.unity-ui-document__root.show-splash-background {
    background-image: url('project://database/Assets/_Project/Art/TrainingBuddyBG.png');
}

.unity-ui-document__root.show-emma-background {
    background-color: var(--color-mid);
    background-image: url('project://database/Assets/_Project/Art/TrainingBuddyAltBG.png');
    background-size: 280px;
    background-position-x: right 0;
    background-position-y: top -60px;
}

.show-splash-background .background-overlay {
    position: absolute;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.show-splash-background .female-char-left {
    background-image: url('project://database/Assets/_Project/Art/Frontpage/female.png');
    height: 80%;
    width: 50%;
}

.show-splash-background .male-char-right {
    background-image: url('project://database/Assets/_Project/Art/Frontpage/male.png');
    height: 80%;
    width: 50%;
}

.show-bottom-container .bottom-container {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 690px;
    background-color: var(--color-bottom-container);
}

.show-small-bottom-container .bottom-container {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 460px;
    background-color: var(--color-bottom-container);
    border-color: aquamarine;
    border-width: 1px;
}

.unity-button {
    width: 100%;
    border-radius: 40;
    border-width: 0;
    background-color: var(--color-buttons);
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-xl);
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/Bungee/Bungee-Regular SDF.asset");
    color: var(--color-dark);
}

.square-button {
    border-radius: 10;
    font-size: var(--font-size-m);
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/Avenir-Next/Avenir Next LT Pro Bold SDF.asset");
    padding: 10px 0;
}

.unity-ui-document__root .unity-button:hover {
    background-color: var(--color-magenta);
    color: var(--color-light);
}

.alt-button {
    background-color: var(--color-magenta);
    color: var(--color-light);
}

.unity-button:hover.alt-button {
    background-color: var(--color-buttons);
    color: var(--color-dark);
}

.text-button {
    height: auto;
    width: auto;
    border-width: 0;
    background-color: transparent;
    font-size: var(--font-size-xs);
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/Avenir-Next/Avenir Next LT Pro Regular SDF.asset");
    -unity-font-style: normal;
    -unity-text-align: middle-center;
}

.unity-ui-document__root .text-button:hover {
    background-color: transparent;
}

.unity-ui-document__root .text-button:active {
    background-color: transparent;
}

.button-large {
    width: 325px;
    height: 70px;
}

.button-small {
    width: 140px;
}

/*Headers*/
.layout-header {
    width: 100%;
    padding: 0 24px;
    min-height: 60px;
    flex-direction: row;
}

.layout-header .button-back {
    width: 60px;
    height: 60px;
    background-color: var(--color-buttons);
    border-width: 0;
    border-radius: 50%;
    background-image: url('project://database/Assets/_Project/Art/Icons/arrow-left.png');
    background-size: 40px;
    -unity-background-image-tint-color: var(--color-dark);
}

.layout-header.simple .button-back {
    background-color: var(--color-light);
}

.layout-header .site-title {
    -unity-text-align: middle-center;
    font-size: var(--font-size-xl);
    flex-grow: 1;
}

.layout-header.simple .site-title {
    display: none;
}

.layout-header .header-level-container {
    width: 60px;
    height: 60px;
    background-color: var(--color-buttons);
    border-width: 0;
    border-radius: 50%;
}

.layout-header.simple .header-level-container {
    display: none;
}

.layout-header .header-level-label {
    font-size: 24px;
    flex-grow: 1;
    -unity-text-align: middle-center;
}

.layout-header .header-level-label.hidden {
    display: none;
}

.layout-header.hide {
    display: none;
}

.safe-area-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.layout-content {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.layout-footer {
    height: 50px;
}

/* Input Fields */
.unity-base-field__input {
    border-color: var(--color-input-field);
    border-width: 1px;
    border-radius: 10px;
}

.unity-text-element--inner-input-field-component {
    font-size: var(--font-size-xl);
    color: var(--color-separator);
    margin: 4px 10px 0;
}