.forgot-password-wrapper {
    flex-grow: 1;
    width: 100%;
    align-items: center;
}

.forgot-password-screen {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    max-width: 320px;
}

.main-container {
    width: 100%;
}

.forgot-password-title {
    width: 100%;
    white-space: normal;
    -unity-text-align: middle-center;
    margin-bottom: 11px;
}

.forgot-password-sub-title {
    -unity-text-align: middle-center;
    font-size: var(--font-size-xs);
    margin-bottom: 67px;
}

.field-email {
    width: 325px;
    height: 52px;
    margin-bottom: 21px;
}

.reset-button {
    margin-bottom: 48px;
    margin-top: 21px;
}

/* Bottom Link */
.bottom-link-container {
    display: flex;
    flex-direction: row;
}

.bottom-link-label {
    font-size: var(--font-size-xs);
}

.bottom-link-button {
    margin-left: 5px;
    color: var(--color-magenta);
}