/*General*/
.profile-screen {
    background-color: red;
    height: 100%;
    width: 100%;
}

.profile-screen .unity-scroll-view__content_container {
    background-color: aqua;
}

/*Top Container*/
.top-container {
    
}

.top-container .back-button {
    
}

.top-container .page-label {

}

.top-container .level-element {

}

.top-container .level-element .level-label {

}

/*Info Container*/
.info-container {
    
}

.info-container .middle-labels {
    
}

.info-container .middle-labels .name-label {

}

.info-container .middle-labels .date-of-birth-label {

}

.info-container .middle-labels .user-id-label {

}

.info-container .edt-button {

}

/*Stats Container*/
.stats-container {
    
}

.stats-container .leveling-container {

}

.stats-container .leveling-container .leveling-top-container {

}

.stats-container .leveling-container .leveling-top-container .leveling-top-left-container {

}

.stats-container .leveling-container .leveling-top-container .leveling-top-right-container {

}

.stats-container .leveling-container .leveling-top-container .leveling-top-right-container .leveling-points-label {

}

.stats-container .leveling-container .leveling-middle-container {

}

.stats-container .leveling-container .leveling-bottom-container {

}

.stats-container .leveling-container .leveling-bottom-container .leveling-bottom-left-container {

}

.stats-container .leveling-container .leveling-bottom-container .leveling-bottom-left-container .leveling-bottom-left-icon {

}

.stats-container .leveling-container .leveling-bottom-container .leveling-bottom-right-container {

}

.stats-container .leveling-container .leveling-bottom-container .leveling-bottom-left-container .leveling-bottom-right-icon {

}

/*Activity Container*/
.stats-container .activity-container {

}

/*Friends Container*/
.stats-container .friends-container {

}

/*Menu Container*/
.stats-container .menu-container {

}

.stats-container .menu-container .about-button {

}

.stats-container .menu-container .settings-button {

}

.stats-container .menu-container .logout-button {

}