.race-menu-wrapper {
    position: absolute;
    bottom: 0;
    padding-bottom: 85px;
}

.race-screen {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.button-large {
    margin-top: 40px;
}

.title {
    -unity-text-align: middle-center;
    white-space: normal;
    margin-top: 50px;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 280px;
}