.find-lobby-wrapper {
    width: 100%;
    height: 100%;
}

.find-lobby-screen {
    width: 100%;
    height: 100%;
}

.find-lobby-screen .container {
    padding: 22px 24px 24px;
    align-items: center;
}

.search-row {
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
}

.field-searchfield {
    width: 320px;
    height: 43px;
    margin-bottom: 21px;
}

.filter-button {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: -8px;
    border-radius: 30px;
    background-color: var(--color-white);
    background-image: url('project://database/Assets/_Project/Art/Icons/filter.png');
    background-size: auto 27px;
    background-position: center;
    border-width: 1px;
    border-color: rgba(225, 225, 225, 1);
}

.find-lobby-scroll {
    width: 100%;
    flex-grow: 1;
}

.find-lobby-scroll > .unity-scroll-view__content-container {
    padding-top: 4px;
    padding-bottom: 12px;
}

.lobby-card-row {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;
}

.lobby-card {
    width: 319px;
    height: 86px;
    justify-content: center;
    border-radius: 45px;
    background-color: var(--color-white);
    border-width: 1px;
    border-color: rgba(227, 227, 227, 1);
}

.lobby-card-content {
    padding: 0 55px 0 75px;
    justify-content: center;
}

.lobby-card-title {
    font-size: var(--font-size-l);
    color: var(--color-font);
    margin-bottom: 4px;
}

.lobby-card-host {
    font-size: var(--font-size-m);
    color: var(--color-font);
    margin-bottom: 2px;
}

.lobby-card-start {
    font-size: var(--font-size-xs);
    color: var(--color-font);
}

.lobby-card-avatar {
    position: absolute;
    left: -15px;
    top: 0;
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar_male {
    background-image: url('project://database/Assets/_Project/Art/Characters/emil_friend.png');
}

.avatar_female {
    background-image: url('project://database/Assets/_Project/Art/Characters/emma_friend.png');
}

.lobby-card-button {
    position: absolute;
    right: 0;
    top: 13px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--color-white);
    background-image: url('project://database/Assets/_Project/Art/Icons/triangle.png');
    background-size: auto 24px;
    background-position-x: left 22;
    border-width: 1px;
    border-color: rgba(225, 225, 225, 1);
}
